// Fuentes
@import url('https://fonts.googleapis.com/css?family=Staatliches|Work+Sans|Roboto|Lato');

//Fuentes
$fuente_principal : 'Raleway',
sans-serif;
$fuente_titulo : 'Lato',
sans-serif;

$fuente_parrafo: 'Work Sans',
sans-serif;
// Tamaño de Media Queries

$telefono : 480px;
$tablet: 768px;
$desktop: 992px;

// Colores
$primario: green;
$secundario:#003f8c;
$terciario: #42b574;
$alternativo: #ce6b00;
$gris: #eeeeee;
$grisOscuro: #373737;
$blanco: #FFFFFF;